html {
  font-size: 16px;
}

body {
  background-color: #F7DF1E;
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Domine", sans-serif;
  font-size: 1.5rem;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  height: 100vh;
}

.main {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  width: 60%;
  max-width: 25rem;
  margin: 0 auto;
  display: block;
  border-bottom: .0625rem solid black;
  height: auto;
}

.info {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  font-size: 1.5rem;
}

.when, .where, .present {
  padding: 1rem;
  text-align: center;
}

.present {
  font-size: 1rem;
}

.present a {
  color: currentColor;
  text-decoration: underline;
}

.present a:hover {
  text-decoration: none;
}

.meetup-link {
  text-align: center;
  display: flex;
  text-decoration: none;
  align-items: center;
  padding: 0.5rem;
  color: currentColor;
}

.meetup-link:hover .join-us {
  text-decoration: none;
}

.meetup-logo {
  width: 5rem;
}

.join-us {
  display: block;
  padding-right: 0.3rem;
  text-decoration: underline;
}

.map-container {
  display: flex;
  width: 100%;
  height: 40%;
  align-items: stretch;
}

.map {
  width: 100%;
  margin: 0;
  border: 0;
}
